In [1]:
import numpy as np
import pandas as pd

In [2]:
table3 = pd.read_csv('/home/yuan/Dataset/kdd_2017/training/links (table 3).csv')
table4 = pd.read_csv('/home/yuan/Dataset/kdd_2017/training/routes (table 4).csv')
table5 = pd.read_csv('/home/yuan/Dataset/kdd_2017/training/trajectories(table 5)_training.csv')
table6 = pd.read_csv('/home/yuan/Dataset/kdd_2017/training/volume(table 6)_training.csv')
table7 = pd.read_csv('/home/yuan/Dataset/kdd_2017/training/weather (table 7)_training_update.csv')

In [3]:
table3

    link_id  length  width  lanes   in_top  out_top  lane_width
0       100      58      3      1      105      111           3
1       101      84      3      1      116      121           3
2       102     131      9      3      115      109           3
3       103      23     12      4      111  122,116           3
4       104     293      9      3      109      112           3
5       105      78      6      2      NaN      100           3
6       106      15      3      1      121      113           3
7       107      34      9      3      123      108           3
8       108      40      9      3      107  119,120           3
9       109     135      9      3      102      104           3
10      110     109      9      3      NaN      123           3
11      111     121     12      4  100,112      103           3
12      112     199      9      3      104      111           3
13      113     144      6      2      106      NaN           3
14      114     198      3      1      119      118           3
15      115     107      9      3      NaN      102           3
16      116     180      9      3  118,103      101           3
17      117     136      3      1      120      NaN           3
18      118     206      9      3      114  116,122           3
19      119       9      3      1      108      114           3
20      120       6      3      1      108      117           3
21      121     118      3      1      101      106           3
22      122     197      3      1  118,103      NaN           3
23      123      59      9      3      110      107           3

In [4]:
table4

,intersection_id,tollgate_id,link_seq
0,A,2,"110,123,107,108,120,117"
1,A,3,"110,123,107,108,119,114,118,122"
2,B,1,"105,100,111,103,116,101,121,106,113"
3,B,3,"105,100,111,103,122"
4,C,1,"115,102,109,104,112,111,103,116,101,121,106,113"
5,C,3,"115,102,109,104,112,111,103,122"

In [5]:
table5

,intersection_id,tollgate_id,vehicle_id,starting_time,travel_seq,travel_time
0,B,3,1065642,2016-07-19 00:14:24,105#2016-07-19 00:14:24#9.56;100#2016-07-19 00...,70.85
1,B,3,1047198,2016-07-19 00:35:56,105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...,148.79
2,B,1,1086390,2016-07-19 00:37:15,105#2016-07-19 00:37:15#5.26;100#2016-07-19 00...,79.76
3,A,2,1071181,2016-07-19 00:37:59,110#2016-07-19 00:37:59#13.74;123#2016-07-19 0...,58.05
4,B,1,1065807,2016-07-19 00:56:21,105#2016-07-19 00:56:21#16.08;100#2016-07-19 0...,137.98
5,C,3,1072812,2016-07-19 00:56:31,115#2016-07-19 00:56:31#10.97;102#2016-07-19 0...,113.54
6,B,1,1014648,2016-07-19 01:26:03,105#2016-07-19 01:26:03#16.85;100#2016-07-19 0...,176.70
7,A,2,1063919,2016-07-19 01:36:04,110#2016-07-19 01:36:04#10.39;123#2016-07-19 0...,74.47
8,A,3,1064408,2016-07-19 01:36:20,110#2016-07-19 01:36:20#8.58;123#2016-07-19 01...,94.57
9,C,1,1056529,2016-07-19 01:36:28,115#2016-07-19 01:36:28#9.50;102#2016-07-19 01...,214.87
10,A,2,1002179,2016-07-19 01:38:48,110#2016-07-19 01:38:48#8.25;123#2016-07-19 01...,39.27
11,B,3,1056879,2016-07-19 01:40:40,105#2016-07-19 01:40:40#11.40;100#2016-07-19 0...,86.07
12,A,2,1004088,2016-07-19 01:42:22,110#2016-07-19 01:42:22#8.32;123#2016-07-19 01...,35.38
13,C,1,1063652,2016-07-19 01:44:57,115#2016-07-19 01:44:57#7.47;102#2016-07-19 01...,189.77
14,C,1,1057504,2016-07-19 01:46:36,115#2016-07-19 01:46:36#6.77;102#2016-07-19 01...,131.50
15,A,2,1022331,2016-07-19 01:48:40,110#2016-07-19 01:48:40#9.51;123#2016-07-19 01...,130.43
16,B,3,1053843,2016-07-19 01:48:47,105#2016-07-19 01:48:47#34.41;100#2016-07-19 0...,101.37
17,A,2,1004286,2016-07-19 01:52:08,110#2016-07-19 01:52:08#18.05;123#2016-07-19 0...,67.41
18,B,3,1086111,2016-07-19 02:10:44,105#2016-07-19 02:10:44#5.17;100#2016-07-19 02...,67.81
19,A,2,1065328,2016-07-19 02:20:16,110#2016-07-19 02:20:16#10.07;123#2016-07-19 0...,42.64
20,A,3,1054620,2016-07-19 02:36:20,110#2016-07-19 02:36:20#7.42;123#2016-07-19 02...,72.12
21,A,3,1011942,2016-07-19 02:38:10,110#2016-07-19 02:38:10#8.22;123#2016-07-19 02...,83.10
22,B,3,1058173,2016-07-19 02:42:15,105#2016-07-19 02:42:15#17.66;100#2016-07-19 0...,142.32
23,A,2,1027642,2016-07-19 02:42:22,110#2016-07-19 02:42:22#6.65;123#2016-07-19 02...,29.15
24,A,2,1005189,2016-07-19 02:42:24,110#2016-07-19 02:42:24#7.54;123#2016-07-19 02...,40.12
25,B,3,1043567,2016-07-19 02:44:00,105#2016-07-19 02:44:00#11.50;100#2016-07-19 0...,192.77
26,A,2,1056068,2016-07-19 02:58:39,110#2016-07-19 02:58:39#9.42;123#2016-07-19 02...,51.25
27,A,3,1017831,2016-07-19 03:12:37,110#2016-07-19 03:12:37#7.48;123#2016-07-19 03...,93.09
28,A,2,1055860,2016-07-19 03:27:36,110#2016-07-19 03:27:36#11.44;123#2016-07-19 0...,44.29
29,A,2,1085652,2016-07-19 03:36:02,110#2016-07-19 03:36:02#11.39;123#2016-07-19 0...,39.55
...,...,...,...,...,...,...
109214,C,1,1020280,2016-10-17 22:35:53,115#2016-10-17 22:35:53#12.38;102#2016-10-17 2...,117.84
109215,C,3,1016880,2016-10-17 22:42:49,115#2016-10-17 22:42:49#8.47;102#2016-10-17 22...,189.38
109216,A,2,1045083,2016-10-17 22:45:00,110#2016-10-17 22:45:00#19.22;123#2016-10-17 2...,67.98
109217,A,3,1011400,2016-10-17 22:50:11,110#2016-10-17 22:50:11#10.77;123#2016-10-17 2...,83.76
109218,A,2,1043473,2016-10-17 22:50:23,110#2016-10-17 22:50:23#9.96;123#2016-10-17 22...,53.01
109219,B,3,1035615,2016-10-17 22:51:12,105#2016-10-17 22:51:12#8.30;100#2016-10-17 22...,60.92
109220,A,2,1027124,2016-10-17 22:56:18,110#2016-10-17 22:56:18#8.83;123#2016-10-17 22...,46.50
109221,C,3,1043900,2016-10-17 22:57:13,115#2016-10-17 22:57:13#7.75;102#2016-10-17 22...,111.67
109222,A,2,1022578,2016-10-17 23:06:06,110#2016-10-17 23:06:06#10.28;123#2016-10-17 2...,45.52
109223,B,3,1049127,2016-10-17 23:07:24,105#2016-10-17 23:07:24#9.49;100#2016-10-17 23...,60.49
109224,A,3,1042839,2016-10-17 23:08:13,110#2016-10-17 23:08:13#9.63;123#2016-10-17 23...,104.54
109225,A,2,1002950,2016-10-17 23:08:18,110#2016-10-17 23:08:18#10.31;123#2016-10-17 2...,48.36
109226,A,3,1018469,2016-10-17 23:10:45,110#2016-10-17 23:10:45#9.21;123#2016-10-17 23...,102.83
109227,C,1,1048639,2016-10-17 23:13:29,115#2016-10-17 23:13:29#7.28;102#2016-10-17 23...,194.33
109228,A,2,1000448,2016-10-17 23:14:16,110#2016-10-17 23:14:16#12.20;123#2016-10-17 2...,48.04
109229,A,2,1004272,2016-10-17 23:14:17,110#2016-10-17 23:14:17#11.13;123#2016-10-17 2...,61.68
109230,C,1,1031989,2016-10-17 23:20:17,115#2016-10-17 23:20:17#9.86;102#2016-10-17 23...,159.78
109231,A,2,1010568,2016-10-17 23:21:50,110#2016-10-17 23:21:50#13.24;123#2016-10-17 2...,40.29
109232,A,2,1037457,2016-10-17 23:22:08,110#2016-10-17 23:22:08#31.53;123#2016-10-17 2...,123.37
109233,A,2,1009417,2016-10-17 23:22:19,110#2016-10-17 23:22:19#22.78;123#2016-10-17 2...,124.41
109234,B,3,1047183,2016-10-17 23:29:43,105#2016-10-17 23:29:43#20.17;100#2016-10-17 2...,131.68
109235,A,2,1012726,2016-10-17 23:30:10,110#2016-10-17 23:30:10#13.46;123#2016-10-17 2...,55.54
109236,A,3,1004601,2016-10-17 23:30:43,110#2016-10-17 23:30:43#9.19;123#2016-10-17 23...,222.87
109237,A,3,1035614,2016-10-17 23:35:56,110#2016-10-17 23:35:56#11.74;123#2016-10-17 2...,91.59
109238,B,1,1003456,2016-10-17 23:37:31,105#2016-10-17 23:37:31#9.95;100#2016-10-17 23...,97.54
109239,A,2,1027763,2016-10-17 23:38:52,110#2016-10-17 23:38:52#8.91;123#2016-10-17 23...,52.46
109240,A,2,1051052,2016-10-17 23:40:19,110#2016-10-17 23:40:19#11.87;123#2016-10-17 2...,42.27
109241,A,3,1003251,2016-10-17 23:52:18,110#2016-10-17 23:52:18#7.59;123#2016-10-17 23...,71.94
109242,A,3,1041002,2016-10-17 23:53:57,110#2016-10-17 23:53:57#10.56;123#2016-10-17 2...,132.51
109243,A,3,1017582,2016-10-17 23:54:35,110#2016-10-17 23:54:35#9.10;123#2016-10-17 23...,137.38

In [6]:
#preprosessing

table5['starting_time'] = pd.to_datetime(table5['starting_time'])
table5['travel_seq_split'] = table5['travel_seq'].map(lambda x: x.split(';'))
table5['hour'] = table5['starting_time'].dt.hour
table5['week'] = table5['starting_time'].dt.weekday

In [7]:
#declare list varible time_100~time_123
for i in range(100,124):
    locals()['time_%d' % (i)] = []
    
seq_sum = []

In [8]:
#calculate time of each line
for row in range(len(table5)):
    
    sum=0
    
    for listnum in range(len(table5['travel_seq_split'][row])):
        
        x = table5['travel_seq_split'][row][listnum].split('#')
        sum+=float(x[2])
        locals()['time_%s' % x[0]].append(float(x[2]))
        
    seq_sum.append(sum)

table5['seq_sum'] = seq_sum

In [9]:
#Print average time of each line
for i in range(100,124):
    locals()['time_%d' % (i)] = np.array(locals()['time_%d' % (i)])
    print('line %d :%f')%(i, np.average(locals()['time_%d' % (i)]))

line 100 :8.136393
line 101 :10.372190
line 102 :11.064007
line 103 :6.617253
line 104 :29.758598
line 105 :12.965021
line 106 :2.646861
line 107 :5.047232
line 108 :5.894221
line 109 :10.931600
line 110 :13.561090
line 111 :31.230995
line 112 :28.868492
line 113 :25.318550
line 114 :23.446321
line 115 :10.977252
line 116 :18.798304
line 117 :35.891619
line 118 :33.417583
line 119 :1.252713
line 120 :1.089252
line 121 :19.140172
line 122 :39.098987
line 123 :7.057589

In [10]:
table5[table5['starting_time']< '2016-07-20']

,intersection_id,tollgate_id,vehicle_id,starting_time,travel_seq,travel_time,travel_seq_split,hour,week,seq_sum
0,B,3,1065642,2016-07-19 00:14:24,105#2016-07-19 00:14:24#9.56;100#2016-07-19 00...,70.85,"[105#2016-07-19 00:14:24#9.56, 100#2016-07-19 ...",0,1,69.63
1,B,3,1047198,2016-07-19 00:35:56,105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...,148.79,"[105#2016-07-19 00:35:56#11.58, 100#2016-07-19...",0,1,145.99
2,B,1,1086390,2016-07-19 00:37:15,105#2016-07-19 00:37:15#5.26;100#2016-07-19 00...,79.76,"[105#2016-07-19 00:37:15#5.26, 100#2016-07-19 ...",0,1,79.21
3,A,2,1071181,2016-07-19 00:37:59,110#2016-07-19 00:37:59#13.74;123#2016-07-19 0...,58.05,"[110#2016-07-19 00:37:59#13.74, 123#2016-07-19...",0,1,57.81
4,B,1,1065807,2016-07-19 00:56:21,105#2016-07-19 00:56:21#16.08;100#2016-07-19 0...,137.98,"[105#2016-07-19 00:56:21#16.08, 100#2016-07-19...",0,1,136.83
5,C,3,1072812,2016-07-19 00:56:31,115#2016-07-19 00:56:31#10.97;102#2016-07-19 0...,113.54,"[115#2016-07-19 00:56:31#10.97, 102#2016-07-19...",0,1,111.20
6,B,1,1014648,2016-07-19 01:26:03,105#2016-07-19 01:26:03#16.85;100#2016-07-19 0...,176.70,"[105#2016-07-19 01:26:03#16.85, 100#2016-07-19...",1,1,171.86
7,A,2,1063919,2016-07-19 01:36:04,110#2016-07-19 01:36:04#10.39;123#2016-07-19 0...,74.47,"[110#2016-07-19 01:36:04#10.39, 123#2016-07-19...",1,1,74.27
8,A,3,1064408,2016-07-19 01:36:20,110#2016-07-19 01:36:20#8.58;123#2016-07-19 01...,94.57,"[110#2016-07-19 01:36:20#8.58, 123#2016-07-19 ...",1,1,95.00
9,C,1,1056529,2016-07-19 01:36:28,115#2016-07-19 01:36:28#9.50;102#2016-07-19 01...,214.87,"[115#2016-07-19 01:36:28#9.50, 102#2016-07-19 ...",1,1,214.65
10,A,2,1002179,2016-07-19 01:38:48,110#2016-07-19 01:38:48#8.25;123#2016-07-19 01...,39.27,"[110#2016-07-19 01:38:48#8.25, 123#2016-07-19 ...",1,1,39.85
11,B,3,1056879,2016-07-19 01:40:40,105#2016-07-19 01:40:40#11.40;100#2016-07-19 0...,86.07,"[105#2016-07-19 01:40:40#11.40, 100#2016-07-19...",1,1,86.13
12,A,2,1004088,2016-07-19 01:42:22,110#2016-07-19 01:42:22#8.32;123#2016-07-19 01...,35.38,"[110#2016-07-19 01:42:22#8.32, 123#2016-07-19 ...",1,1,35.31
13,C,1,1063652,2016-07-19 01:44:57,115#2016-07-19 01:44:57#7.47;102#2016-07-19 01...,189.77,"[115#2016-07-19 01:44:57#7.47, 102#2016-07-19 ...",1,1,189.49
14,C,1,1057504,2016-07-19 01:46:36,115#2016-07-19 01:46:36#6.77;102#2016-07-19 01...,131.50,"[115#2016-07-19 01:46:36#6.77, 102#2016-07-19 ...",1,1,131.31
15,A,2,1022331,2016-07-19 01:48:40,110#2016-07-19 01:48:40#9.51;123#2016-07-19 01...,130.43,"[110#2016-07-19 01:48:40#9.51, 123#2016-07-19 ...",1,1,130.89
16,B,3,1053843,2016-07-19 01:48:47,105#2016-07-19 01:48:47#34.41;100#2016-07-19 0...,101.37,"[105#2016-07-19 01:48:47#34.41, 100#2016-07-19...",1,1,98.37
17,A,2,1004286,2016-07-19 01:52:08,110#2016-07-19 01:52:08#18.05;123#2016-07-19 0...,67.41,"[110#2016-07-19 01:52:08#18.05, 123#2016-07-19...",1,1,67.14
18,B,3,1086111,2016-07-19 02:10:44,105#2016-07-19 02:10:44#5.17;100#2016-07-19 02...,67.81,"[105#2016-07-19 02:10:44#5.17, 100#2016-07-19 ...",2,1,67.06
19,A,2,1065328,2016-07-19 02:20:16,110#2016-07-19 02:20:16#10.07;123#2016-07-19 0...,42.64,"[110#2016-07-19 02:20:16#10.07, 123#2016-07-19...",2,1,42.41
20,A,3,1054620,2016-07-19 02:36:20,110#2016-07-19 02:36:20#7.42;123#2016-07-19 02...,72.12,"[110#2016-07-19 02:36:20#7.42, 123#2016-07-19 ...",2,1,73.03
21,A,3,1011942,2016-07-19 02:38:10,110#2016-07-19 02:38:10#8.22;123#2016-07-19 02...,83.10,"[110#2016-07-19 02:38:10#8.22, 123#2016-07-19 ...",2,1,82.90
22,B,3,1058173,2016-07-19 02:42:15,105#2016-07-19 02:42:15#17.66;100#2016-07-19 0...,142.32,"[105#2016-07-19 02:42:15#17.66, 100#2016-07-19...",2,1,140.03
23,A,2,1027642,2016-07-19 02:42:22,110#2016-07-19 02:42:22#6.65;123#2016-07-19 02...,29.15,"[110#2016-07-19 02:42:22#6.65, 123#2016-07-19 ...",2,1,29.06
24,A,2,1005189,2016-07-19 02:42:24,110#2016-07-19 02:42:24#7.54;123#2016-07-19 02...,40.12,"[110#2016-07-19 02:42:24#7.54, 123#2016-07-19 ...",2,1,40.19
25,B,3,1043567,2016-07-19 02:44:00,105#2016-07-19 02:44:00#11.50;100#2016-07-19 0...,192.77,"[105#2016-07-19 02:44:00#11.50, 100#2016-07-19...",2,1,191.60
26,A,2,1056068,2016-07-19 02:58:39,110#2016-07-19 02:58:39#9.42;123#2016-07-19 02...,51.25,"[110#2016-07-19 02:58:39#9.42, 123#2016-07-19 ...",2,1,50.69
27,A,3,1017831,2016-07-19 03:12:37,110#2016-07-19 03:12:37#7.48;123#2016-07-19 03...,93.09,"[110#2016-07-19 03:12:37#7.48, 123#2016-07-19 ...",3,1,93.19
28,A,2,1055860,2016-07-19 03:27:36,110#2016-07-19 03:27:36#11.44;123#2016-07-19 0...,44.29,"[110#2016-07-19 03:27:36#11.44, 123#2016-07-19...",3,1,43.60
29,A,2,1085652,2016-07-19 03:36:02,110#2016-07-19 03:36:02#11.39;123#2016-07-19 0...,39.55,"[110#2016-07-19 03:36:02#11.39, 123#2016-07-19...",3,1,39.69
...,...,...,...,...,...,...,...,...,...,...
1079,B,3,1086109,2016-07-19 22:16:23,105#2016-07-19 22:16:23#15.05;100#2016-07-19 2...,162.35,"[105#2016-07-19 22:16:23#15.05, 100#2016-07-19...",22,1,148.36
1080,A,3,1003340,2016-07-19 22:18:15,110#2016-07-19 22:18:15#15.79;123#2016-07-19 2...,141.25,"[110#2016-07-19 22:18:15#15.79, 123#2016-07-19...",22,1,141.88
1081,A,3,1079766,2016-07-19 22:28:04,110#2016-07-19 22:28:04#16.49;123#2016-07-19 2...,102.90,"[110#2016-07-19 22:28:04#16.49, 123#2016-07-19...",22,1,102.92
1082,A,3,1008859,2016-07-19 22:30:49,110#2016-07-19 22:30:49#8.94;123#2016-07-19 22...,91.70,"[110#2016-07-19 22:30:49#8.94, 123#2016-07-19 ...",22,1,92.14
1083,A,3,1053093,2016-07-19 22:36:23,110#2016-07-19 22:36:23#9.11;123#2016-07-19 22...,69.14,"[110#2016-07-19 22:36:23#9.11, 123#2016-07-19 ...",22,1,70.06
1084,A,2,1045973,2016-07-19 22:37:31,110#2016-07-19 22:37:31#26.22;123#2016-07-19 2...,85.71,"[110#2016-07-19 22:37:31#26.22, 123#2016-07-19...",22,1,85.57
1085,A,2,1046220,2016-07-19 22:37:36,110#2016-07-19 22:37:36#22.45;123#2016-07-19 2...,72.36,"[110#2016-07-19 22:37:36#22.45, 123#2016-07-19...",22,1,73.20
1086,A,2,1014169,2016-07-19 22:37:47,110#2016-07-19 22:37:47#20.50;123#2016-07-19 2...,109.53,"[110#2016-07-19 22:37:47#20.50, 123#2016-07-19...",22,1,109.36
1087,A,2,1039686,2016-07-19 22:38:08,110#2016-07-19 22:38:08#10.11;123#2016-07-19 2...,99.80,"[110#2016-07-19 22:38:08#10.11, 123#2016-07-19...",22,1,98.91
1088,B,3,1056848,2016-07-19 22:39:14,105#2016-07-19 22:39:14#20.82;100#2016-07-19 2...,100.55,"[105#2016-07-19 22:39:14#20.82, 100#2016-07-19...",22,1,98.99
1089,C,1,1026650,2016-07-19 22:43:25,115#2016-07-19 22:43:25#15.59;102#2016-07-19 2...,283.51,"[115#2016-07-19 22:43:25#15.59, 102#2016-07-19...",22,1,282.83
1090,A,2,1064414,2016-07-19 22:43:46,110#2016-07-19 22:43:46#5.95;123#2016-07-19 22...,33.90,"[110#2016-07-19 22:43:46#5.95, 123#2016-07-19 ...",22,1,33.94
1091,A,2,1002950,2016-07-19 22:56:20,110#2016-07-19 22:56:20#11.17;123#2016-07-19 2...,86.71,"[110#2016-07-19 22:56:20#11.17, 123#2016-07-19...",22,1,86.77
1092,A,2,1028259,2016-07-19 22:57:19,110#2016-07-19 22:57:19#5.97;123#2016-07-19 22...,20.45,"[110#2016-07-19 22:57:19#5.97, 123#2016-07-19 ...",22,1,21.03
1093,B,3,1054034,2016-07-19 23:02:32,105#2016-07-19 23:02:32#8.27;100#2016-07-19 23...,97.07,"[105#2016-07-19 23:02:32#8.27, 100#2016-07-19 ...",23,1,96.67
1094,A,2,1065484,2016-07-19 23:04:53,110#2016-07-19 23:04:53#11.76;123#2016-07-19 2...,53.64,"[110#2016-07-19 23:04:53#11.76, 123#2016-07-19...",23,1,52.93
1095,A,2,1079774,2016-07-19 23:08:17,110#2016-07-19 23:08:17#9.90;123#2016-07-19 23...,55.98,"[110#2016-07-19 23:08:17#9.90, 123#2016-07-19 ...",23,1,55.48
1096,A,2,1009669,2016-07-19 23:19:44,110#2016-07-19 23:19:44#12.51;123#2016-07-19 2...,54.16,"[110#2016-07-19 23:19:44#12.51, 123#2016-07-19...",23,1,54.18
1097,A,2,1086210,2016-07-19 23:22:06,110#2016-07-19 23:22:06#7.62;123#2016-07-19 23...,37.75,"[110#2016-07-19 23:22:06#7.62, 123#2016-07-19 ...",23,1,37.42
1098,A,2,1079754,2016-07-19 23:22:27,110#2016-07-19 23:22:27#10.92;123#2016-07-19 2...,48.22,"[110#2016-07-19 23:22:27#10.92, 123#2016-07-19...",23,1,48.66
1099,A,2,1064052,2016-07-19 23:23:42,110#2016-07-19 23:23:42#17.41;123#2016-07-19 2...,181.99,"[110#2016-07-19 23:23:42#17.41, 123#2016-07-19...",23,1,181.80
1100,C,3,1056525,2016-07-19 23:23:49,115#2016-07-19 23:23:49#16.90;102#2016-07-19 2...,285.82,"[115#2016-07-19 23:23:49#16.90, 102#2016-07-19...",23,1,281.42
1101,A,2,1014404,2016-07-19 23:27:54,110#2016-07-19 23:27:54#23.94;123#2016-07-19 2...,69.51,"[110#2016-07-19 23:27:54#23.94, 123#2016-07-19...",23,1,68.98
1102,A,2,1056938,2016-07-19 23:43:48,110#2016-07-19 23:43:48#10.99;123#2016-07-19 2...,43.61,"[110#2016-07-19 23:43:48#10.99, 123#2016-07-19...",23,1,44.50
1103,A,2,1078519,2016-07-19 23:44:09,110#2016-07-19 23:44:09#13.48;123#2016-07-19 2...,139.07,"[110#2016-07-19 23:44:09#13.48, 123#2016-07-19...",23,1,138.84
1104,A,2,1085260,2016-07-19 23:44:37,110#2016-07-19 23:44:37#12.03;123#2016-07-19 2...,47.57,"[110#2016-07-19 23:44:37#12.03, 123#2016-07-19...",23,1,47.02
1105,A,2,1085651,2016-07-19 23:49:08,110#2016-07-19 23:49:08#10.37;123#2016-07-19 2...,41.59,"[110#2016-07-19 23:49:08#10.37, 123#2016-07-19...",23,1,41.18
1106,B,3,1040366,2016-07-19 23:50:03,105#2016-07-19 23:50:03#6.01;100#2016-07-19 23...,131.78,"[105#2016-07-19 23:50:03#6.01, 100#2016-07-19 ...",23,1,130.15
1107,B,3,1065327,2016-07-19 23:52:26,105#2016-07-19 23:52:26#13.19;100#2016-07-19 2...,110.44,"[105#2016-07-19 23:52:26#13.19, 100#2016-07-19...",23,1,108.39
1108,A,3,1017661,2016-07-19 23:54:25,110#2016-07-19 23:54:25#5.58;123#2016-07-19 23...,85.08,"[110#2016-07-19 23:54:25#5.58, 123#2016-07-19 ...",23,1,84.73

In [11]:
table5[(table5['intersection_id']=='B') & (table5['tollgate_id']==3)]

,intersection_id,tollgate_id,vehicle_id,starting_time,travel_seq,travel_time,travel_seq_split,hour,week,seq_sum
0,B,3,1065642,2016-07-19 00:14:24,105#2016-07-19 00:14:24#9.56;100#2016-07-19 00...,70.85,"[105#2016-07-19 00:14:24#9.56, 100#2016-07-19 ...",0,1,69.63
1,B,3,1047198,2016-07-19 00:35:56,105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...,148.79,"[105#2016-07-19 00:35:56#11.58, 100#2016-07-19...",0,1,145.99
11,B,3,1056879,2016-07-19 01:40:40,105#2016-07-19 01:40:40#11.40;100#2016-07-19 0...,86.07,"[105#2016-07-19 01:40:40#11.40, 100#2016-07-19...",1,1,86.13
16,B,3,1053843,2016-07-19 01:48:47,105#2016-07-19 01:48:47#34.41;100#2016-07-19 0...,101.37,"[105#2016-07-19 01:48:47#34.41, 100#2016-07-19...",1,1,98.37
18,B,3,1086111,2016-07-19 02:10:44,105#2016-07-19 02:10:44#5.17;100#2016-07-19 02...,67.81,"[105#2016-07-19 02:10:44#5.17, 100#2016-07-19 ...",2,1,67.06
22,B,3,1058173,2016-07-19 02:42:15,105#2016-07-19 02:42:15#17.66;100#2016-07-19 0...,142.32,"[105#2016-07-19 02:42:15#17.66, 100#2016-07-19...",2,1,140.03
25,B,3,1043567,2016-07-19 02:44:00,105#2016-07-19 02:44:00#11.50;100#2016-07-19 0...,192.77,"[105#2016-07-19 02:44:00#11.50, 100#2016-07-19...",2,1,191.60
31,B,3,1056935,2016-07-19 03:43:45,105#2016-07-19 03:43:45#23.18;100#2016-07-19 0...,82.65,"[105#2016-07-19 03:43:45#23.18, 100#2016-07-19...",3,1,82.06
32,B,3,1049332,2016-07-19 03:43:47,105#2016-07-19 03:43:47#16.45;100#2016-07-19 0...,101.53,"[105#2016-07-19 03:43:47#16.45, 100#2016-07-19...",3,1,99.00
33,B,3,1035325,2016-07-19 03:44:03,105#2016-07-19 03:44:03#10.14;100#2016-07-19 0...,88.76,"[105#2016-07-19 03:44:03#10.14, 100#2016-07-19...",3,1,86.31
35,B,3,1056848,2016-07-19 03:53:59,105#2016-07-19 03:53:59#6.42;100#2016-07-19 03...,121.02,"[105#2016-07-19 03:53:59#6.42, 100#2016-07-19 ...",3,1,120.06
37,B,3,1040366,2016-07-19 04:05:28,105#2016-07-19 04:05:28#20.83;100#2016-07-19 0...,91.01,"[105#2016-07-19 04:05:28#20.83, 100#2016-07-19...",4,1,89.73
40,B,3,1056294,2016-07-19 04:07:38,105#2016-07-19 04:07:38#11.48;100#2016-07-19 0...,102.33,"[105#2016-07-19 04:07:38#11.48, 100#2016-07-19...",4,1,97.55
42,B,3,1078311,2016-07-19 04:22:46,105#2016-07-19 04:22:46#7.43;100#2016-07-19 04...,53.15,"[105#2016-07-19 04:22:46#7.43, 100#2016-07-19 ...",4,1,52.57
50,B,3,1064422,2016-07-19 04:41:02,105#2016-07-19 04:41:02#6.21;100#2016-07-19 04...,62.09,"[105#2016-07-19 04:41:02#6.21, 100#2016-07-19 ...",4,1,60.48
57,B,3,1086207,2016-07-19 04:55:59,105#2016-07-19 04:55:59#3.56;100#2016-07-19 04...,48.40,"[105#2016-07-19 04:55:59#3.56, 100#2016-07-19 ...",4,1,47.21
58,B,3,1005751,2016-07-19 05:02:22,105#2016-07-19 05:02:22#13.73;100#2016-07-19 0...,209.66,"[105#2016-07-19 05:02:22#13.73, 100#2016-07-19...",5,1,208.05
86,B,3,1019195,2016-07-19 06:14:45,105#2016-07-19 06:14:45#9.03;100#2016-07-19 06...,145.94,"[105#2016-07-19 06:14:45#9.03, 100#2016-07-19 ...",6,1,144.48
99,B,3,1064988,2016-07-19 06:37:13,105#2016-07-19 06:37:13#8.73;100#2016-07-19 06...,127.35,"[105#2016-07-19 06:37:13#8.73, 100#2016-07-19 ...",6,1,125.50
109,B,3,1025578,2016-07-19 06:50:37,105#2016-07-19 06:50:37#7.79;100#2016-07-19 06...,97.20,"[105#2016-07-19 06:50:37#7.79, 100#2016-07-19 ...",6,1,94.88
127,B,3,1086367,2016-07-19 07:10:19,105#2016-07-19 07:10:19#6.95;100#2016-07-19 07...,58.04,"[105#2016-07-19 07:10:19#6.95, 100#2016-07-19 ...",7,1,56.73
130,B,3,1064709,2016-07-19 07:12:46,105#2016-07-19 07:12:46#8.52;100#2016-07-19 07...,47.45,"[105#2016-07-19 07:12:46#8.52, 100#2016-07-19 ...",7,1,46.48
131,B,3,1060931,2016-07-19 07:13:11,105#2016-07-19 07:13:11#10.75;100#2016-07-19 0...,149.35,"[105#2016-07-19 07:13:11#10.75, 100#2016-07-19...",7,1,147.15
132,B,3,1055848,2016-07-19 07:13:15,105#2016-07-19 07:13:15#12.05;100#2016-07-19 0...,196.21,"[105#2016-07-19 07:13:15#12.05, 100#2016-07-19...",7,1,193.41
136,B,3,1064989,2016-07-19 07:16:01,105#2016-07-19 07:16:01#10.75;100#2016-07-19 0...,141.09,"[105#2016-07-19 07:16:01#10.75, 100#2016-07-19...",7,1,138.91
141,B,3,1071283,2016-07-19 07:22:02,105#2016-07-19 07:22:02#8.20;100#2016-07-19 07...,113.08,"[105#2016-07-19 07:22:02#8.20, 100#2016-07-19 ...",7,1,112.47
143,B,3,1000457,2016-07-19 07:24:33,105#2016-07-19 07:24:33#8.39;100#2016-07-19 07...,52.18,"[105#2016-07-19 07:24:33#8.39, 100#2016-07-19 ...",7,1,51.29
160,B,3,1056766,2016-07-19 07:45:57,105#2016-07-19 07:45:57#9.96;100#2016-07-19 07...,110.50,"[105#2016-07-19 07:45:57#9.96, 100#2016-07-19 ...",7,1,107.50
185,B,3,1071654,2016-07-19 08:07:39,105#2016-07-19 08:07:39#8.98;100#2016-07-19 08...,135.18,"[105#2016-07-19 08:07:39#8.98, 100#2016-07-19 ...",8,1,132.22
186,B,3,1023619,2016-07-19 08:08:02,105#2016-07-19 08:08:02#8.72;100#2016-07-19 08...,112.51,"[105#2016-07-19 08:08:02#8.72, 100#2016-07-19 ...",8,1,111.55
...,...,...,...,...,...,...,...,...,...,...
109011,B,3,1013632,2016-10-17 17:40:53,105#2016-10-17 17:40:53#4.47;100#2016-10-17 17...,28.28,"[105#2016-10-17 17:40:53#4.47, 100#2016-10-17 ...",17,0,27.32
109013,B,3,1015428,2016-10-17 17:42:03,105#2016-10-17 17:42:03#59.97;100#2016-10-17 1...,96.76,"[105#2016-10-17 17:42:03#59.97, 100#2016-10-17...",17,0,96.34
109014,B,3,1050830,2016-10-17 17:42:19,105#2016-10-17 17:42:19#34.82;100#2016-10-17 1...,188.76,"[105#2016-10-17 17:42:19#34.82, 100#2016-10-17...",17,0,181.76
109020,B,3,1016056,2016-10-17 17:48:29,105#2016-10-17 17:48:29#12.83;100#2016-10-17 1...,119.68,"[105#2016-10-17 17:48:29#12.83, 100#2016-10-17...",17,0,117.13
109027,B,3,1041966,2016-10-17 17:56:03,105#2016-10-17 17:56:03#17.78;100#2016-10-17 1...,106.92,"[105#2016-10-17 17:56:03#17.78, 100#2016-10-17...",17,0,103.85
109028,B,3,1012082,2016-10-17 17:56:13,105#2016-10-17 17:56:13#16.06;100#2016-10-17 1...,74.89,"[105#2016-10-17 17:56:13#16.06, 100#2016-10-17...",17,0,73.53
109051,B,3,1029974,2016-10-17 18:23:49,105#2016-10-17 18:23:49#9.98;100#2016-10-17 18...,97.62,"[105#2016-10-17 18:23:49#9.98, 100#2016-10-17 ...",18,0,95.38
109061,B,3,1041571,2016-10-17 18:35:32,105#2016-10-17 18:35:32#17.06;100#2016-10-17 1...,86.70,"[105#2016-10-17 18:35:32#17.06, 100#2016-10-17...",18,0,83.95
109065,B,3,1018100,2016-10-17 18:35:51,105#2016-10-17 18:35:51#13.46;100#2016-10-17 1...,67.55,"[105#2016-10-17 18:35:51#13.46, 100#2016-10-17...",18,0,65.86
109066,B,3,1017838,2016-10-17 18:35:54,105#2016-10-17 18:35:54#11.18;100#2016-10-17 1...,80.22,"[105#2016-10-17 18:35:54#11.18, 100#2016-10-17...",18,0,79.24
109070,B,3,1012327,2016-10-17 18:44:34,105#2016-10-17 18:44:34#11.57;100#2016-10-17 1...,100.83,"[105#2016-10-17 18:44:34#11.57, 100#2016-10-17...",18,0,99.20
109071,B,3,1019745,2016-10-17 18:47:48,105#2016-10-17 18:47:48#4.55;100#2016-10-17 18...,47.13,"[105#2016-10-17 18:47:48#4.55, 100#2016-10-17 ...",18,0,45.96
109072,B,3,1042793,2016-10-17 18:49:55,105#2016-10-17 18:49:55#33.85;100#2016-10-17 1...,153.15,"[105#2016-10-17 18:49:55#33.85, 100#2016-10-17...",18,0,152.21
109073,B,3,1012133,2016-10-17 18:50:20,105#2016-10-17 18:50:20#9.22;100#2016-10-17 18...,54.84,"[105#2016-10-17 18:50:20#9.22, 100#2016-10-17 ...",18,0,53.13
109076,B,3,1024226,2016-10-17 18:52:57,105#2016-10-17 18:52:57#3.70;100#2016-10-17 18...,23.34,"[105#2016-10-17 18:52:57#3.70, 100#2016-10-17 ...",18,0,22.62
109085,B,3,1003606,2016-10-17 19:03:00,105#2016-10-17 19:03:00#7.74;100#2016-10-17 19...,125.30,"[105#2016-10-17 19:03:00#7.74, 100#2016-10-17 ...",19,0,123.15
109094,B,3,1031438,2016-10-17 19:11:39,105#2016-10-17 19:11:39#12.21;100#2016-10-17 1...,118.29,"[105#2016-10-17 19:11:39#12.21, 100#2016-10-17...",19,0,112.58
109103,B,3,1000991,2016-10-17 19:23:17,105#2016-10-17 19:23:17#10.73;100#2016-10-17 1...,66.28,"[105#2016-10-17 19:23:17#10.73, 100#2016-10-17...",19,0,65.31
109114,B,3,1001432,2016-10-17 19:37:46,105#2016-10-17 19:37:46#35.33;100#2016-10-17 1...,117.00,"[105#2016-10-17 19:37:46#35.33, 100#2016-10-17...",19,0,114.63
109145,B,3,1012225,2016-10-17 20:14:44,105#2016-10-17 20:14:44#3.66;100#2016-10-17 20...,112.88,"[105#2016-10-17 20:14:44#3.66, 100#2016-10-17 ...",20,0,109.66
109149,B,3,1032391,2016-10-17 20:18:10,105#2016-10-17 20:18:10#9.20;100#2016-10-17 20...,86.66,"[105#2016-10-17 20:18:10#9.20, 100#2016-10-17 ...",20,0,85.22
109159,B,3,1008641,2016-10-17 20:41:19,105#2016-10-17 20:41:19#10.01;100#2016-10-17 2...,92.76,"[105#2016-10-17 20:41:19#10.01, 100#2016-10-17...",20,0,92.69
109162,B,3,1042908,2016-10-17 20:41:50,105#2016-10-17 20:41:50#11.35;100#2016-10-17 2...,67.40,"[105#2016-10-17 20:41:50#11.35, 100#2016-10-17...",20,0,64.86
109164,B,3,1031720,2016-10-17 20:45:22,105#2016-10-17 20:45:22#21.31;100#2016-10-17 2...,115.94,"[105#2016-10-17 20:45:22#21.31, 100#2016-10-17...",20,0,111.44
109184,B,3,1000463,2016-10-17 21:19:35,105#2016-10-17 21:19:35#7.36;100#2016-10-17 21...,46.39,"[105#2016-10-17 21:19:35#7.36, 100#2016-10-17 ...",21,0,44.62
109192,B,3,1022595,2016-10-17 21:31:37,105#2016-10-17 21:31:37#6.04;100#2016-10-17 21...,61.96,"[105#2016-10-17 21:31:37#6.04, 100#2016-10-17 ...",21,0,61.25
109213,B,3,1026971,2016-10-17 22:34:17,105#2016-10-17 22:34:17#8.13;100#2016-10-17 22...,115.60,"[105#2016-10-17 22:34:17#8.13, 100#2016-10-17 ...",22,0,114.92
109219,B,3,1035615,2016-10-17 22:51:12,105#2016-10-17 22:51:12#8.30;100#2016-10-17 22...,60.92,"[105#2016-10-17 22:51:12#8.30, 100#2016-10-17 ...",22,0,58.12
109223,B,3,1049127,2016-10-17 23:07:24,105#2016-10-17 23:07:24#9.49;100#2016-10-17 23...,60.49,"[105#2016-10-17 23:07:24#9.49, 100#2016-10-17 ...",23,0,59.27
109234,B,3,1047183,2016-10-17 23:29:43,105#2016-10-17 23:29:43#20.17;100#2016-10-17 2...,131.68,"[105#2016-10-17 23:29:43#20.17, 100#2016-10-17...",23,0,122.57

In [12]:
np.average(time_105)

12.965021476139812

In [13]:
table6

,time,tollgate_id,direction,vehicle_model,has_etc,vehicle_type
0,2016-09-19 23:09:25,2,0,1,0,NaN
1,2016-09-19 23:11:53,2,0,1,0,NaN
2,2016-09-19 23:13:54,2,0,1,0,NaN
3,2016-09-19 23:17:48,1,0,1,1,NaN
4,2016-09-19 23:16:07,2,0,1,0,NaN
5,2016-09-19 23:18:20,3,0,2,0,NaN
6,2016-09-19 23:18:33,3,0,1,0,NaN
7,2016-09-19 23:19:16,2,0,1,0,NaN
8,2016-09-19 23:19:34,2,0,2,0,NaN
9,2016-09-19 23:20:04,3,0,1,0,NaN
10,2016-09-19 23:22:09,3,0,1,0,NaN
11,2016-09-19 23:23:41,1,0,2,0,NaN
12,2016-09-19 23:23:56,2,0,2,0,NaN
13,2016-09-19 23:27:21,2,0,4,1,NaN
14,2016-09-19 23:25:41,3,0,1,0,NaN
15,2016-09-19 23:25:38,2,0,2,0,NaN
16,2016-09-19 23:26:03,2,0,2,0,NaN
17,2016-09-19 23:26:32,3,0,1,0,NaN
18,2016-09-19 23:27:04,3,0,1,0,NaN
19,2016-09-19 23:30:21,1,0,2,0,NaN
20,2016-09-19 23:29:45,3,0,2,0,NaN
21,2016-09-19 23:33:07,3,0,2,0,NaN
22,2016-09-19 23:30:45,1,0,1,0,NaN
23,2016-09-19 23:30:59,1,0,1,1,NaN
24,2016-09-19 23:32:36,1,0,1,0,NaN
25,2016-09-19 23:32:29,3,0,2,0,NaN
26,2016-09-19 23:32:49,3,0,2,0,NaN
27,2016-09-19 23:49:50,3,0,1,0,NaN
28,2016-09-19 23:40:42,3,0,2,0,NaN
29,2016-09-19 23:45:00,1,0,1,0,NaN
...,...,...,...,...,...,...
543669,2016-10-17 18:20:23,1,1,1,0,0
543670,2016-10-17 18:16:00,1,1,1,1,0
543671,2016-10-17 18:16:05,1,1,1,1,0
543672,2016-10-17 00:32:07,1,1,1,0,0
543673,2016-10-17 19:32:31,1,1,3,0,1
543674,2016-10-17 18:33:10,1,1,1,0,1
543675,2016-10-17 19:34:53,1,1,1,0,0
543676,2016-10-17 19:35:12,1,1,1,0,0
543677,2016-10-17 19:35:37,1,1,1,0,1
543678,2016-10-17 19:36:07,1,1,1,0,0
543679,2016-10-17 19:36:39,1,1,1,0,0
543680,2016-10-17 19:37:12,1,1,1,0,0
543681,2016-10-17 19:37:43,1,1,3,0,1
543682,2016-10-17 19:38:09,1,1,1,0,0
543683,2016-10-17 19:38:34,1,1,1,0,0
543684,2016-10-17 19:43:54,1,1,1,0,0
543685,2016-10-17 19:45:22,1,1,1,0,1
543686,2016-10-17 19:45:57,1,1,1,1,0
543687,2016-10-17 19:48:26,1,1,1,0,0
543688,2016-10-17 16:49:51,1,1,1,0,0
543689,2016-10-17 19:51:34,1,1,1,0,0
543690,2016-10-17 19:51:56,1,1,1,0,0
543691,2016-10-17 19:53:42,1,1,1,0,0
543692,2016-10-17 19:56:42,1,1,1,0,0
543693,2016-10-17 18:17:38,1,1,1,1,0
543694,2016-10-17 18:18:22,1,1,1,1,0
543695,2016-10-17 18:18:49,1,1,1,1,0
543696,2016-10-17 18:20:03,1,1,1,1,0
543697,2016-10-17 17:20:20,1,1,1,1,0
543698,2016-10-17 17:21:52,1,1,1,1,0

In [14]:
table6['time'] = pd.to_datetime(table6['time'])

In [15]:
table7

,date,hour,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation
0,2016-07-01,0,1000.4,1005.3,225,2.1,26.4,94,0.0
1,2016-07-01,3,1000.5,1005.3,187,2.7,29.0,76,0.0
2,2016-07-01,6,998.9,1003.7,212,2.9,31.7,67,0.0
3,2016-07-01,9,998.7,1003.5,244,2.7,31.6,59,0.0
4,2016-07-01,12,999.7,1004.5,222,1.3,29.9,68,0.0
5,2016-07-01,15,1000.0,1004.8,102,1.6,27.8,82,0.0
6,2016-07-01,18,998.8,1003.6,202,1.9,26.0,89,0.0
7,2016-07-01,21,1000.2,1005.0,334,2.2,25.5,90,0.0
8,2016-07-02,0,1001.6,1006.4,315,1.8,26.8,82,0.0
9,2016-07-02,3,1002.4,1007.2,46,3.2,30.0,70,0.0
10,2016-07-02,6,1001.3,1006.2,37,2.2,29.3,80,1.0
11,2016-07-02,9,1001.9,1006.8,345,2.4,25.9,95,10.2
12,2016-07-02,12,1003.6,1008.5,113,1.0,25.1,94,0.2
13,2016-07-02,15,1002.4,1007.3,138,1.0,25.3,96,0.0
14,2016-07-02,18,1000.9,1005.8,221,0.7,25.4,96,0.0
15,2016-07-02,21,1000.9,1005.8,999017,0.1,25.2,98,0.0
16,2016-07-03,0,1001.5,1006.4,220,1.5,25.8,97,0.0
17,2016-07-03,3,1001.5,1006.4,200,1.6,27.0,93,0.1
18,2016-07-03,6,1000.8,1005.7,207,1.8,27.4,92,0.0
19,2016-07-03,9,1000.8,1005.7,223,1.1,27.7,91,0.1
20,2016-07-03,12,1001.6,1006.5,137,0.6,26.9,91,0.0
21,2016-07-03,15,1002.2,1007.1,173,0.4,26.0,96,0.1
22,2016-07-03,18,1000.5,1005.4,330,0.7,25.7,98,0.4
23,2016-07-03,21,1000.4,1005.3,999017,0.0,25.7,98,0.0
24,2016-07-04,0,1000.6,1005.5,176,2.0,26.3,97,0.0
25,2016-07-04,3,1000.5,1005.3,179,2.1,31.8,69,0.0
26,2016-07-04,6,999.7,1004.5,160,1.7,34.7,56,0.0
27,2016-07-04,9,998.8,1003.6,287,1.4,34.8,55,0.0
28,2016-07-04,12,1001.1,1006.0,340,1.0,29.7,78,0.0
29,2016-07-04,15,1001.1,1005.9,188,1.3,27.8,79,0.0
...,...,...,...,...,...,...,...,...,...
832,2016-10-14,6,1015.8,1020.9,359,1.9,18.5,84,0.0
833,2016-10-14,9,1015.5,1020.6,349,2.0,18.2,81,0.0
834,2016-10-14,12,1016.5,1021.6,1,1.4,18.3,83,0.0
835,2016-10-14,15,1015.9,1021.0,354,1.8,18.2,87,0.0
836,2016-10-14,18,1015.4,1020.5,202,1.1,18.4,89,0.0
837,2016-10-14,21,1015.2,1020.3,360,2.3,18.5,90,0.0
838,2016-10-15,0,1016.5,1021.6,35,2.0,19.0,95,0.0
839,2016-10-15,3,1015.8,1020.9,357,1.1,19.8,94,0.6
840,2016-10-15,6,1013.7,1018.8,334,1.5,20.3,96,0.1
841,2016-10-15,9,1013.7,1018.8,333,2.2,20.3,96,0.0
842,2016-10-15,12,1014.5,1019.6,344,0.9,20.0,97,0.0
843,2016-10-15,15,1013.9,1019.0,999017,0.0,19.8,97,0.0
844,2016-10-15,18,1012.9,1017.9,215,1.7,19.7,97,0.0
845,2016-10-15,21,1012.8,1017.8,216,3.2,19.6,97,0.0
846,2016-10-16,0,1013.9,1018.9,327,0.6,20.4,95,0.0
847,2016-10-16,3,1013.9,1018.9,342,2.2,24.6,76,0.0
848,2016-10-16,6,1011.7,1016.7,301,1.8,26.8,67,0.0
849,2016-10-16,9,1011.7,1016.7,10,4.1,24.9,74,0.0
850,2016-10-16,12,1013.8,1018.8,353,4.3,22.7,77,0.0
851,2016-10-16,15,1014.7,1019.7,7,2.1,21.9,80,0.0
852,2016-10-16,18,1014.5,1019.5,344,2.0,21.3,83,0.0
853,2016-10-16,21,1014.2,1019.2,35,3.0,20.4,81,0.0
854,2016-10-17,0,1015.6,1020.6,35,2.1,20.1,80,0.0
855,2016-10-17,3,1015.6,1020.6,104,1.5,19.6,90,0.1
856,2016-10-17,6,1013.4,1018.4,81,1.2,21.3,79,0.0
857,2016-10-17,9,1013.7,1018.7,109,1.1,20.9,79,0.0
858,2016-10-17,12,1014.3,1019.4,17,0.7,19.6,87,0.0
859,2016-10-17,15,1014.7,1019.8,222,0.9,18.9,92,0.0
860,2016-10-17,18,1014.0,1019.0,341,1.5,19.1,92,0.0
861,2016-10-17,21,1013.9,1018.9,322,2.5,19.3,90,0.0